*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    border: 1px solid red;
    color: blue;
}

input::placeholder {
    color: pink;
}

.primeiro-lorem {
    line-height: 20px;
    font-size: 20px;
    color: blue;
}

.primeiro-lorem::first-line {
    color: brown;
}

.primeiro-lorem::first-letter {
    color: blueviolet;
}

a {
    color: blue;
}

a::before {
    content: " 🚀";
}

a::after {
    content: " ✈️";
}